<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SIRC_Work_2">
    <meta name="keyword" content="SIM">
    <link rel="shortcut icon" href="img/myico1.ico">
    <title>句子相似度计算</title>
</head>
<body>
	<h1>句子相似度计算</h1>
	<h3>句子输入：</h3>
	请输入两个句子:<br/>
	<form action="" method="POST" enctype="multipart/form-data">
		<label>句子1：</label><input type="text" name="sentence1"/><br />
		<label>句子2：</label><input type="text" name="sentence2"/><br />
		<input type="submit" value="提交" />
	</form>
	<br/>
</body>
</html>