<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SIRC_Work_2">
    <meta name="keyword" content="SIM">
    <link rel="shortcut icon" href="img/myico1.ico">
    <title>搜索引擎</title>
</head>
<body>
	<h1>搜索引擎</h1>
	<form action="" method="POST" enctype="multipart/form-data">
		<label>请输入要搜索的内容：</label><input type="text" name="userinput"/>
		<input type="submit" value="搜索" />
	</form>
	<br/>
</body>
</html>