<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SIRC_Work_2">
    <meta name="keyword" content="TF-IDF">
    <link rel="shortcut icon" href="img/myico1.ico">
    <title>TFIDF计算</title>
</head>
<body>
	<h1>TF-IDF计算</h1>
	<h3>文件上传：</h3>
	选择一个文件上传:<br/>
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="file" name="data" size="50" /><br />
		<input type="submit" value="上传文件" />
	</form>
	<button><a href = "/TFIDF_Result">计算结果下载</a></button>
</body>
</html>